.editor-row {
  height: 700px;
}
/* Reset some default styling */
.gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
}
.gjs-block {
  width: auto;
  height: auto;
  min-height: auto;
}
/* .panel__tops {
  width: 100%;
  display: flex;
} */
.gjs-pn-buttons {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.panel__basic-actions {
  position: initial;
}
.editor-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 300px;
}

.editor-canvas {
  flex-grow: 1;
}

.panel__right {
  flex-basis: 230px;
  position: relative;
  overflow-y: auto;
  background-color: rgb(231, 223, 223);
}
.panel__switcher {
  position: initial;
}
.panel__devices {
  position: initial;
  display: flex;
}
.gjs-one-bg {
  background-color: #242a3b;
  background-color: rgb(231, 223, 223);
  color: black;
}
/* .gjs-pn-btn {
  min-width: 75px;
} */

.gjs-clm-tags #gjs-clm-tags-field {
  height: 100px;
}
#my_devices .gjs-pn-buttons {
  display: flex;
  flex-direction: row !important;
}
.gjs-four-color {
  color: black;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  width: 400px;
  border-radius: 4px;
  border-color: #007bff;
}
.btn-publish {
  color: #fff;
  background-color: #1c7430;
  width: 400px;
  border-radius: 4px;
  border-color: #1c7430;
}
.prewiew {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 37px;
  background-color: #f7efef !important;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.privew {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 87px;
  background-color: #f7efef !important;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
