
.gjs-am-assets{
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.gjs-am-aasets-images{
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: contents;
}
.gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
}
#mySidebar{
  display: flex;
  flex-direction: column;
  z-index: 99999;
  height: 90%;
  position: absolute;   
}
span.closebtn {
  position: absolute;
  left: 200px;
  float: right;
  display: flex;
}
span#isdqw {
  color: white !important;
}
.sidebar {
  height: 100%;
  width: 0;
  z-index: 1;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}
#right_div {
  width: 268px;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}
.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}


.panel__top {
  padding: 0;
  width: 100%;
  display: flex;
  position: initial;
  justify-content: center;
  justify-content: space-between;
}
.gjs-am-file-uploader>form #gjs-am-uploadFile{
  padding: 0% !important;
}
.gjs-am-file-uploader>form {
  position: absolute;
  width: 21%;
  border: none;
  margin-top: 14px;
}


.gjs-am-add-asset button{
  float: left;
  margin-left: 5px;
}
.navbar-light .navbar-brand {
  color: white;
}
.navbar-light .navbar-brand:hover {
  color: white;
}
.panel__basic-actions {
  position: initial;
}
.gjs-block {
  width: auto;
  height: auto;
  min-height: auto;
}
.gjs-am-file-uploader #gjs-am-title {
  margin-top:-150px;
}
div#gjs-am-title {
  font-size: 11px;
}
.gjs-am-file-uploader {
  width: 27%;
  float: right  !important;
}
.gjs-am-assets-cont {
  background-color: rgba(0,0,0,.1);
  border-radius: 3px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  float: right;
  height: 325px;
  overflow: hidden;
}
.gjs-am-preview-cont {
width: 88%;
height: 140px;
}
.gjs-am-add-asset .gjs-am-add-field{
  width: 370px;
  float:left;
}
.gjs-am-asset {
  width: 33%;
  display: flex;
  flex-direction: column;
}
.gjs-mdl-title {
  font-size: 1rem;
}
.editor-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 300px;
}
.editor-canvas {
  flex-grow: 1;
}

.panel__right {
  flex-basis: 230px;
  position: relative;
  overflow-y: auto;
}

.gjs-block {
  width: 100%;
}
.editor-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 300px;
}
.content {
  padding: 0 18px;
  display: contents;
  overflow: hidden;
  width: inherit;
  /* background-color: #f1f1f1; */
}
@media (min-width:720px) {
span.gjs-pn-btn.fa.fa-paint-brush.btn.btn-light.panel__tops.prewiew.nav-item {
    margin-left: 238px;
} 
}
@media (min-width:720px) {
span.gjs-pn-btn.fa.fa-paint-brush.btn.btn-light.panel__tops.prewiew.nav-item {
    margin-left: 238px;
} 
}
.panel__top  {
  margin-left: 200px;
}
span.gjs-pn-btn.fa.fa-paint-brush.btn.btn-light.panel__tops.prewiew.nav-item {
  margin-left: 434px ;
}
#left_button_panel .gjs-pn-buttons {
  display: flex;
  flex-direction: column !important;
}
.btn-light:hover {
  /* color: #000; */
  background-color: #212529 !important;
  color: #f9fafb !important;
  /* border-color: #f9fafb; */
}
.panel_device {
  position: initial;
}
.gjs-one-bg .gjs-pn-buttons{
  background-color: transparent !important;
}
.preview_panel.gjs-pn-panel.gjs-pn-basic-actions.gjs-one-bg.gjs-two-color {
  margin-left: 30px;
}
#panel__right{
  display: flex;
}
.btn-light {
  color: gray;
  background-color: transparent;
  border: 3px solid gray;
}
.page_buton{
  margin: 5px !important;
}
.gjs-pn-buttons .left {
  margin-bottom: 6px;
}
.gjs-pn-btn{
 padding-top : -40px !important;
}
.gjs-pn-btn {
  background-color: #1a1a1a;
  color: gray !important;
  border: 3px solid gray;
}
.gjs-pn-btn #left_button_panel {
  margin-bottom: -14px !important;
}
.bg-light {
  background-color: #212529 !important;
}
.pages-container{
  flex-direction: column;
  margin: 2px;
}
@media only screen and (max-width: 823px){
span.gjs-pn-btn.fa.fa-paint-brush.btn.btn-light.panel__tops.prewiew.nav-item {
    margin-left: 121px;
}
}
@media only screen and (min-width: 314px){
  .gjs-pn-btn {
    min-width: 21px;
    font-size: 18px;
    margin-right: 4px;
}
div#left_button_panel {
  flex-basis: 34px;
}
}
@media only screen and (max-width: 823px) {
  span.gjs-pn-btn.fa.fa-paint-brush.btn.btn-light.panel__tops.prewiew.nav-item {
    margin-left: 304px;
}
}
@media only screen and (min-width: 670px) {
  span.gjs-pn-btn.fa.fa-paint-brush.btn.btn-light.panel__tops.prewiew.nav-item {
    margin-left: 391px;
}

}
@media only screen and (min-width: 310px) {
  .gjs-pn-btn {
  min-width: 20px;
  }
  div#left_button_panel {
    flex-basis: 25px !important;
}
}
@media only screen and (min-width: 768px) {
  .gjs-pn-buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .gjs-pn-buttons #panela_button{
    display: flex !important;
    flex-direction: column !important;
    float: left !important;
    text-align: center !important;
  }
}
.page_buton {
  width: 90%;
}
@media only screen and (max-width: 600px) {
  .prewiew {
    width: 1px;
    padding: 0px;
    font-size: 10px;
  }
  .page_buton {
    width: 90%;
  }
  span.gjs-pn-btn.fa.fa-paint-brush.btn.btn-light.panel__tops.prewiew.nav-item {
    margin-left: 0px;
  }
  .panel__right {
    flex-basis: 230px;
    /* position: absolute; */
    overflow-y: auto;
    /* width: 100%; */
    z-index: 1;
    display: contents;
  }
  a.prewiew.btn.btn-light.panel__tops.prewiew.nav-item {
    width: 24px;
}
span.gjs-pn-btn.openbtn.btn.btn-light.panel__tops.prewiew.nav-item {
  line-height: 11px;
  width: 34px !important;
  padding: 0px;
}
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  /* // z-index: 9; */
}

