.editor-row {
  height: 700px;
}
/* Reset some default styling */
.gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
}
.gjs-block {
  width: auto;
  height: auto;
  min-height: auto;
}
.panel__top {
  padding: 0;
  width: 100%;
  display: flex;
  position: initial;
  justify-content: center;
  justify-content: space-between;
  background-color: silver;
}
.panel__basic-actions {
  position: initial;
}
.editor-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 300px;
}

.editor-canvas {
  flex-grow: 1;
}

.panel__right {
  flex-basis: 230px;
  position: relative;
  overflow-y: auto;
  background-color: rgb(231, 223, 223);
}
.panel__switcher {
  position: initial;
}
.panel__devices {
  position: initial;
}
.gjs-one-bg {
  background-color: #242a3b;
  background-color: rgb(231, 223, 223);
  color: black;
}
/* .gjs-pn-btn {
  min-width: 75px;
} */

.gjs-clm-tags #gjs-clm-tags-field {
  height: 100px;
}
