/* <style type="text/css"> */
img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 0.07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}

.woocommerce .product-type-variable .single_variation_wrap form.cart .button,
.woocommerce .product-type-simple form.cart .button {
  margin-left: 30px;
  float: none !important;
}
/*--------*/
/*   QUICK FORM FORM
/*--------*/
.bottom-form-holder {
  height: auto;
}

input.bottom-form-control {
  width: 100%;
  border: none;
  border-bottom: 1px solid #eee;
  font-size: 0.9rem;
  line-height: 1;
  padding: 18px;
}

.quick-contact-form textarea {
  min-height: 60px;
  border-bottom: none;
}

@media (min-width: 769px) and (max-width: 1199px) {
  .woocommerce .product-type-variable .single_variation_wrap form.cart .button,
  .woocommerce .product-type-simple form.cart .button {
    float: left;
    margin-top: 20px;
    margin-left: 0;
  }
}
.sblog-post-txt #gallery-1 .gallery-item:hover img {
  transform: none;
  -ms-transform: none;
  -webkit-transform: none;
  -o-transform: none;
  -moz-transform: none;
}
.sblog-post-txt .entry-content .content-list {
  padding-left: 0;
}
body {
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  color: #333;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
  letter-spacing: 0px;
  font-weight: 700;
  font-style: normal;
  color: #222;
}
.navbar-light .logo-text,
.navbar-dark .logo-text {
  line-height: 3rem;
  font-size: 3rem;
}
p {
  font-size: 1rem;
}
p.p-sm {
  font-size: 0.95rem;
}
p.p-md {
  font-size: 1.125rem;
}
p.p-lg {
  font-size: 1.25rem;
}
p.p-xl {
  font-size: 1.3175rem;
}
.navbar-expand-lg .navbar-nav .nav-link {
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  font-size: 0.85rem;
}
.dropdown-item,
.dropdown-menu li a {
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
}
.dropdown-item li a,
.dropdown-menu ul li a {
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
}
#iqz7t4 {
  display: flex;
}
